# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / IDE
.vs/
.vscode/
.idea/

# Archivos generados
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Sistema operativo
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt
